/* Products */
.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 25%;
    background: white;
    margin: 1%;
    text-align: center;
    flex: 1 0 23%;
}

.product img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.product p.price {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #00a1b4;
    padding: 3px 0px;
}
/* Products */