@import url('https://fonts.googleapis.com/css?family=Catamaran:400,100,300');

/* General global */
html, body {
    font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    background-color: #eee;
    text-align: left;
}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-big {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
}

.header-small {
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 0;
}

/* General */



/* Footer */
footer {
    margin-top: 60px;
    width: 100%;
    background-color: #fff;
    text-align: right;
    padding: 5px 0;
}

/* Footer */
